@model Microsoft.Azure.Search.Models.FacetResults
    
Colors:
<ul id="colors">
    @foreach (var colorFacet in Model["Color"])
    {
        <li><a href="#" data-value="@colorFacet.Value">@colorFacet.Value</a> (@colorFacet.Count)</li>
    }
</ul>
Categories:
<ul id="categories">
    @foreach (var categoryFacet in Model["Category"])
    {
        <li><a href="#" data-value="@categoryFacet.Value">@categoryFacet.Value</a> (@categoryFacet.Count)</li>
    }
</ul>
Subcategories:
<ul id="subcategories">
    @foreach (var subcategoryFacet in Model["Subcategory"])
    {
        <li><a href="#" data-value="@subcategoryFacet.Value">@subcategoryFacet.Value</a> (@subcategoryFacet.Count)</li>
    }
</ul>
Prices:
<ul id="prices">
    @foreach (var priceFacet in Model["ListPrice"])
    {
        if (priceFacet.Count > 0)
        {
            <li><a href="#" data-valuefrom="@(priceFacet.From ?? 0)" data-valueto="@(priceFacet.To ?? 0)">@(priceFacet.From ?? 0) - @(priceFacet.To ?? "more")</a> (@priceFacet.Count)</li>
        }
    }
</ul>