@model IEnumerable<Microsoft.Azure.Search.Models.SearchResult<DemoApp.Models.ProductInfo>>

<div>

    @foreach (var product in Model)
    {
        <div>
            <img class="pull-left img-thumbnail product-thumbnail" src="~/images/@product.Document.ThumbnailPhotoFileName" alt="@product.Document.Name" />
            <div>
                <h4>@product.Document.Name</h4>
                <p>price: @product.Document.ListPrice, color: @product.Document.Color</p>
            </div>
            @Description(product)
        </div>
    }

</div>


@helper Description(Microsoft.Azure.Search.Models.SearchResult<DemoApp.Models.ProductInfo> product)
{
    var description = product.Document.Description;
    if (product.Highlights != null && product.Highlights.ContainsKey("Description"))
    {
        description = product.Highlights["Description"].First();
    }

    <div class="description">
        <p>@Html.Raw(description)</p>
    </div>
}
